target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
### frontend ###
.umi/
.umi-production/
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# 前端构建产物
wldos-ui/src/main/frontend/dist/
wldos-ui/src/main/frontend/.umi/
wldos-ui/src/main/frontend/.umi-production/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
!**/src/main/resources/static/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/.mvn/wrapper/maven-wrapper.jar
# 注意：.mvn/wrapper/maven-wrapper.properties 应该提交到 Git
/src/main/resources/static/
/wldos-web/temp/
/wldos-ui/src/main/frontend/node/
/wldos-plugins/airdrop/node/
/wldos-ui/node_modules/.yarn-integrity
/.specstory/
/wldos-ui/node/
/wldos-ui/node/yarn/
