@import '~antd/es/style/themes/default.less';
@import '../../utils/utils.less';

.avatarHolder {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 1px solid #d9d9d9;

  & > img {
    width: 100%;
    height: 100%;
  }

  .name {
    margin-bottom: 4px;
    color: @heading-color;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 375px) {
  .avatarHolder {
    width: 100%;
    height: 100%;
  }
  .listWidth {
    :global {
      .ant-row {
        display: block!important;
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .hotRec {
    display: none;
  }

  .cardListRight {
    display: none;
  }
}

.proButton {
  display: flex;
  float: right;
  & > button {
    margin-right: 24px;
  }
}

.cardListRight {
  height: 450px;
  overflow: hidden;
}

.detail {
  p {
    position: relative;
    margin-bottom: 8px;
    padding-left: 26px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  i {
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 14px;
  }
}

.tagsTitle,
.teamTitle {
  margin-bottom: 12px;
  color: @heading-color;
  font-weight: 500;
}

.tags {
  :global {
    .ant-tag {
      margin-bottom: 8px;
    }
  }
}

.team {
  margin-top: 24px;
  a {
    display: block;
    overflow: hidden;
    color: @text-color;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
    transition: color 0.3s;

    &:hover {
      color: @primary-color;
    }
    & > img {
      width: calc(100% - 2px);
      height: calc(100% - 2px);
    }
  }
}

.tabsCard {
  :global {
    .ant-card-head {
      padding: 0 16px;
    }
  }
}


.title {
  margin-bottom: 16px;
  color: @heading-color;
  font-weight: 500;
  font-size: 16px;
}

// 用于图片在移动端自适应宽度
.entry img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto !important;
}
